.article {
  width: 100%;
  background: #f2f2f2;
  border: 1px solid #c2c2c2;
  border-radius: 12px;
  display: flex;
  overflow: hidden;

  &__leftSide {
    width: 95%;
    padding: 20px;
  }

  &__commentWrapper {
    border-left: 1px solid #c2c2c2;
    width: 5%;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    align-self: flex-end;
  }
  &__text {
    width: 100%;
    word-wrap: break-word;
  }
  &__buttonWrapper {
    display: flex;
    gap: 10px;
  }
  &__topic {
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__author {
    max-width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
