.formGenerator {
  &__textArea {
    max-height: 200px;
  }
  &__formItem {
    margin: 10px 0;
    width: 100%;

    label {
      font-weight: 700;
      font-size: 14px;
    }

    & :global {
      .ant-input {
        width: 100%;
      }
    }
  }
}
